---
import Footer from "../../components/Footer.astro";
import CalificationForm from "../../components/opt-in/calificationForm.tsx";
import FormWrapper from "../../components/opt-in/formWrapper";
import FormularioWrapper from "../../components/opt-in/formWrapper";
import SimpleForm from "../../components/opt-in/optInForm.tsx";
import OptInForm from "../../components/opt-in/optInForm.tsx";
import Layout from "../../layouts/Layout.astro";

const VIDEO_TESTIMONIALS = [
	{
		video: "",
		titulo: "[Nombre]",
		story: "Situación previa vs actual con storytelling",
		nombre: "Nombre y Apellido",
		dato: "Edad || Ubicación",
	},
];

const SCREENSHOT_TESTIMONIALS = [
	{
		captura: "",
	},
	{
		captura: "",
	},
	{
		captura: "",
	},
	{
		captura: "",
	},
	{
		captura: "",
	},
	{
		captura: "",
	},
];
---

<Layout>
	<main class="px-4">
		<header>
			<div class="cf-container">
				<h3
					class="text-center py-3 border-b border-b-white/30 font-semibold"
				>
					METODO EXCLUSIVO PARA [NICHO]
				</h3>
			</div>
		</header>
		<section class="py-[60px] md:py-[80px]">
			<div class="cf-container">
				<div class="grid md:grid-cols-2 gap-8">
					<div class="py-8">
						<img
							class="bg-gray-300 size-[58px] rounded-full"
							src=""
							alt=""
						/>
						<span class="text-white/80 block mt-4"
							>Prueba social 1</span
						>
						<!--Ej: Aprende mi metodo ERM y baja entre 5 y 15kg sin dejar de comer como te gusta ni entrenar más de 3 horas por semana. -->
						<h1 class="font-bold text-[32px] my-4 leading-[120%]">
							Aprende mi metodo [Nombre] y [Logro] sin [Esfuerzo]
						</h1>
						<p>
							Nunca vas a lograr [Deseo] sin [Punto diferencial de
							mi metodo]
						</p>
						<div class="mt-8 flex items-center gap-4">
							<div class="flex">
								<img
									class="bg-gray-300 border-white border-1 rounded-full size-[41px] block"
									src="/images/"
									alt=""
								/>
								<img
									class="-ml-[20px] bg-gray-300 border-white border-1 rounded-full size-[41px] block"
									src="/images/"
									alt=""
								/>
								<img
									class="-ml-[20px] bg-gray-300 border-white border-1 rounded-full size-[41px] block"
									src="/images/"
									alt=""
								/>
							</div>
							<p
								class="max-w-[220px] text-white/80 leading-[120%]"
							>
								Prueba social 2
							</p>
						</div>
					</div>
					<FormWrapper client:load />
				</div>
			</div>
		</section>

		<section class="py-[40px]">
			<div class="cf-container">
				<h2
					class="text-[28px] font-bold text-white text-center uppercase max-w-[500px] leading-[120%] mx-auto"
				>
					ELLOS YA USARON EL MÉTODO ¿QUE ESTAS ESPERANDO?
				</h2>
				<div class="mt-8 max-w-[900px] mx-auto">
					{
						VIDEO_TESTIMONIALS.map((testimonial) => {
							return (
								<div class="p-8 md:p-[50px] border rounded-[20px] border-white/20 flex md:flex-row flex-col gap-4 md:gap-8">
									<div class="bg-gray-400 w-[190px] md:mx-0 mx-auto rounded-[10px] aspect-[9/16]"></div>
									<div class="py-8 flex flex-col justify-between">
										<div>
											<h3 class="text-[24px] font-bold">
												{testimonial.titulo}
											</h3>
											<p class="text-white/80 mt-4">
												{testimonial.story}
											</p>
										</div>
										<div>
											<p>{testimonial.nombre}</p>
											<p class="text-white/80 mt-2 text-[14px]">
												{testimonial.dato}
											</p>
										</div>
									</div>
								</div>
							);
						})
					}
				</div>
				<a class="mt-8 cf-btn" href="#contactFormFooter">CTA</a>
			</div>
		</section>

		<section class="py-[80px]">
			<div class="cf-container">
				<h2
					class="text-[28px] font-bold text-white text-center uppercase max-w-[400px] leading-[120%] mx-auto"
				>
					DICHO POR LOS QUE YA LO PROBARON
				</h2>
				<div
					class="mt-8 max-w-[900px] mx-auto grid grid-cols-2 md:grid-cols-3 gap-4"
				>
					{
						SCREENSHOT_TESTIMONIALS.map((testimonial) => {
							return (
								<img
									class="w-full min-h-[50px] bg-gray-400"
									src={testimonial.captura}
									alt="Testimonio"
								/>
							);
						})
					}
				</div>
				<a class="mt-8 cf-btn" href="#contactFormFooter">CTA</a>
			</div>
		</section>
		<section id="contactFormFooter" class="pt-[40px] pb-[80px]">
			<div class="max-w-[500px] mx-auto">
				<FormWrapper client:load />
			</div>
		</section>
		
		<Footer />
	</main>
</Layout>
